<head>
    <title>planning-poker</title>
</head>

<body>
<h1>Welcome to Planning Poker!</h1>

{{#if isInRoom}}
    {{> vote}}
{{else}}
    {{> startManageButtons}}
{{/if}}

</body>

<template name="startManageButtons">
    <div class="button">
        <button class="createRoom">Create room</button>
    </div>

    <form class="joinRoom">
        <div class="button">
            <button>Join room</button>
            <input placeholder="enter room number" name="roomNumber">
        </div>
    </form>
</template>

<template name="vote">
    <div class="headerVote">
        <div>Room number: <b>{{getRoomNumber}}</b></div>
        <div class="divQuit">
            <button class="quit">Quit</button>
        </div>
    </div>
    {{> cardsForEstimation}}
    {{> userVotes}}
    {{#if isOwnerRoom}}
        {{> buttonForManageRoom}}
    {{/if}}
</template>

<template name="cardsForEstimation">
    <div class="cardsForEstimation">
        {{#each cards.values}}
            <div class="cardForEstimate {{#if isChooseCard this}}chosenCard{{/if}}" value={{this}}>
                {{this}}
            </div>
        {{/each}}
    </div>
</template>

<template name="userVotes">
    <div class="userVotes">
        {{#each getCountUsers.voters}}
            <div class="cardVote {{#if vote}}alreadyVoted{{/if}}">
                {{#if isShowResult}}
                    {{vote}}
                {{/if}}
            </div>
        {{/each}}
    </div>
</template>

<template name="buttonForManageRoom">
    <div class="ownerButtons">
        <div>
            <button class="reset">Reset</button>
        </div>
        <div>
            <button class="showResult">Show result</button>
        </div>
    </div>
</template>



