/* CSS declarations go here */

body {
    margin-right: 30%;
    margin-left: 30%;
}

button {
    width: 100px;
    height: 25px;
    margin: 3px;
}

.chosenCard {
    background: green!important;
}

.cardForEstimate, .cardVote {
    background: lightyellow;
    float: left;
    border: 1px solid;
    margin: 5px;
    padding: 5px;
    width: 40px;
    height: 70px;
    text-align: center;
    display: inline-block;
}

.cardVote {
    background: none;
}

.cardForEstimate:hover {
    background: yellow;
}

.alreadyVoted {
    background: gray;
}

.divQuit {
    float: right;
}

.headerVote {
    margin-bottom: 60px;
}

.userVotes {
    clear: both;
}

.ownerButtons {
    clear: both;
}
